<h1>CAPSTONE TWO: Data Wrangling</h1>
<p>
    <b>Objective:</b> Body-Fat Prediction<br />
    <b>Date:</b> 06-22-2021<br />
    <b>Author:</b> Ruslan S.<br />
    <b>Steps:</b>
    <ul>
        <li>Data Collection</li>
        <li>Data Organization</li>
        <li>Data Difinition</li>
        <li>Data Cleaning</li>
    </ul>

</p>

In [1]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

<h3>Data Collection:</h3>

In [2]:
# Loading "raw" data to pandas' DataFrame for file "bodyfat_1.csv" data.
df_1 = pd.read_csv('../Data/bodyfat_1.csv')
print(df_1.head())

   DeNCITY  Bfat   AGE   Weght  HEAIGHT  Neck-size  CHEST-SIZE
0   1.0708  12.3  23.0  154.25    67.75       36.2        93.1
1   1.0853   6.1  22.0  173.25    72.25       38.5        93.6
2   1.0414  25.3  22.0  154.00    66.25       34.0        95.8
3   1.0751  10.4  26.0  184.75    72.25       37.4       101.8
4   1.0340  28.7  24.0  184.25    71.25       34.4        97.3

In [3]:
df_2 = pd.read_csv('../Data/bodyfat_2.csv')
print(df_2.head())

  Abdom HIP-SIZE Thigh-SIZE Knee-SIZE Ankle-SIZE Bicep-SIZE Forearm-SIZE  \
0  85.2     94.5         59      37.3       21.9         32         27.4
1    83     98.7       58.7      37.3       23.4       30.5         28.9
2  87.9     99.2       59.6      38.9         24       28.8         25.2
3  86.4    101.2       60.1      37.3       22.8       32.4         29.4
4   100    101.9       63.2      42.2         24       32.2         27.7

  Wrist-SIZE
0       17.1
1       18.2
2       16.6
3       18.2
4       17.7

In [4]:
# Data joining
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DeNCITY     254 non-null    float64
 1   Bfat        254 non-null    float64
 2   AGE         254 non-null    float64
 3   Weght       254 non-null    float64
 4   HEAIGHT     254 non-null    float64
 5   Neck-size   254 non-null    float64
 6   CHEST-SIZE  254 non-null    float64
dtypes: float64(7)
memory usage: 14.1 KB

In [5]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Abdom         254 non-null    object
 1   HIP-SIZE      254 non-null    object
 2   Thigh-SIZE    254 non-null    object
 3   Knee-SIZE     254 non-null    object
 4   Ankle-SIZE    254 non-null    object
 5   Bicep-SIZE    254 non-null    object
 6   Forearm-SIZE  254 non-null    object
 7   Wrist-SIZE    254 non-null    object
dtypes: object(8)
memory usage: 16.1+ KB

In [6]:
df = pd.concat([df_1, df_2], axis=1)
df.head()

,DeNCITY,Bfat,AGE,Weght,HEAIGHT,Neck-size,CHEST-SIZE,Abdom,HIP-SIZE,Thigh-SIZE,Knee-SIZE,Ankle-SIZE,Bicep-SIZE,Forearm-SIZE,Wrist-SIZE
0,1.0708,12.3,23.0,154.25,67.75,36.2,93.1,85.2,94.5,59,37.3,21.9,32,27.4,17.1
1,1.0853,6.1,22.0,173.25,72.25,38.5,93.6,83,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22.0,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24,28.8,25.2,16.6
3,1.0751,10.4,26.0,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24.0,184.25,71.25,34.4,97.3,100,101.9,63.2,42.2,24,32.2,27.7,17.7

<h3>Data Organization:</h3>

In [7]:
# Changing column's names
col_names = ['density', 'bodyfat', 'age', 'weight', 'height', 'neck', 'chest', 'abdomen', 'hip', 'thigh', 'knee', 'ankle', 'biceps', 'forearm', 'wrist']
df.columns = col_names
df.head()

,density,bodyfat,age,weight,height,neck,chest,abdomen,hip,thigh,knee,ankle,biceps,forearm,wrist
0,1.0708,12.3,23.0,154.25,67.75,36.2,93.1,85.2,94.5,59,37.3,21.9,32,27.4,17.1
1,1.0853,6.1,22.0,173.25,72.25,38.5,93.6,83,98.7,58.7,37.3,23.4,30.5,28.9,18.2
2,1.0414,25.3,22.0,154.00,66.25,34.0,95.8,87.9,99.2,59.6,38.9,24,28.8,25.2,16.6
3,1.0751,10.4,26.0,184.75,72.25,37.4,101.8,86.4,101.2,60.1,37.3,22.8,32.4,29.4,18.2
4,1.0340,28.7,24.0,184.25,71.25,34.4,97.3,100,101.9,63.2,42.2,24,32.2,27.7,17.7

In [8]:
# Checking for missing values and dTypes of all columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   density  254 non-null    float64
 1   bodyfat  254 non-null    float64
 2   age      254 non-null    float64
 3   weight   254 non-null    float64
 4   height   254 non-null    float64
 5   neck     254 non-null    float64
 6   chest    254 non-null    float64
 7   abdomen  254 non-null    object
 8   hip      254 non-null    object
 9   thigh    254 non-null    object
 10  knee     254 non-null    object
 11  ankle    254 non-null    object
 12  biceps   254 non-null    object
 13  forearm  254 non-null    object
 14  wrist    254 non-null    object
dtypes: float64(7), object(8)
memory usage: 30.0+ KB

In [9]:
# Converting some columns to a necessary dTypes
df = df.apply(pd.to_numeric, errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   density  254 non-null    float64
 1   bodyfat  254 non-null    float64
 2   age      254 non-null    float64
 3   weight   254 non-null    float64
 4   height   254 non-null    float64
 5   neck     254 non-null    float64
 6   chest    254 non-null    float64
 7   abdomen  253 non-null    float64
 8   hip      253 non-null    float64
 9   thigh    253 non-null    float64
 10  knee     253 non-null    float64
 11  ankle    253 non-null    float64
 12  biceps   253 non-null    float64
 13  forearm  253 non-null    float64
 14  wrist    253 non-null    float64
dtypes: float64(15)
memory usage: 30.0 KB

In [10]:
df.describe()

,density,bodyfat,age,weight,height,neck,chest,abdomen,hip,thigh,knee,ankle,biceps,forearm,wrist
count,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,254.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000
mean,1.047262,19.000000,44.531496,177.515551,69.596457,37.692913,100.030315,92.190119,99.509881,59.171146,38.437945,23.011067,32.145850,28.550593,18.157708
std,0.095384,8.506384,13.166500,33.286286,7.204457,4.145242,12.257168,12.234109,9.516853,6.434400,3.417599,2.229536,3.634386,2.704532,1.477043
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.041400,12.400000,35.000000,158.062500,68.250000,36.325000,94.050000,84.500000,95.500000,56.000000,36.900000,22.000000,30.200000,27.300000,17.600000
50%,1.054800,19.200000,43.000000,176.125000,70.000000,37.950000,99.600000,90.900000,99.300000,59.000000,38.500000,22.800000,32.000000,28.700000,18.300000
75%,1.070375,25.275000,54.000000,196.937500,72.250000,39.400000,105.300000,99.200000,103.500000,62.300000,39.900000,24.000000,34.300000,30.000000,18.800000
max,1.108900,47.500000,81.000000,363.150000,77.750000,51.200000,136.200000,148.100000,147.700000,87.300000,49.100000,33.900000,45.000000,34.900000,21.400000

In [11]:
# Drop zero values with NaNs
df.isnull().values.any()

True

In [12]:
df.isnull().sum()

density    1
bodyfat    1
age        1
weight     1
height     1
neck       1
chest      1
abdomen    2
hip        2
thigh      2
knee       2
ankle      2
biceps     2
forearm    2
wrist      2
dtype: int64

In [13]:
df[df.isna().any(axis=1)]

,density,bodyfat,age,weight,height,neck,chest,abdomen,hip,thigh,knee,ankle,biceps,forearm,wrist
252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.dropna(axis=0, how='any', inplace=True)
df.isnull().sum()

density    0
bodyfat    0
age        0
weight     0
height     0
neck       0
chest      0
abdomen    0
hip        0
thigh      0
knee       0
ankle      0
biceps     0
forearm    0
wrist      0
dtype: int64

In [15]:
df.describe()

,density,bodyfat,age,weight,height,neck,chest,abdomen,hip,thigh,knee,ankle,biceps,forearm,wrist
count,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000
mean,1.051402,19.075099,44.707510,178.217194,69.871542,37.841897,100.425692,92.190119,99.509881,59.171146,38.437945,23.011067,32.145850,28.550593,18.157708
std,0.069028,8.438454,12.889696,31.413891,5.728289,3.404558,10.534268,12.234109,9.516853,6.434400,3.417599,2.229536,3.634386,2.704532,1.477043
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.041400,12.400000,35.000000,158.250000,68.250000,36.400000,94.200000,84.500000,95.500000,56.000000,36.900000,22.000000,30.200000,27.300000,17.600000
50%,1.054900,19.200000,43.000000,176.250000,70.000000,38.000000,99.600000,90.900000,99.300000,59.000000,38.500000,22.800000,32.000000,28.700000,18.300000
75%,1.070400,25.300000,54.000000,197.000000,72.250000,39.400000,105.300000,99.200000,103.500000,62.300000,39.900000,24.000000,34.300000,30.000000,18.800000
max,1.108900,47.500000,81.000000,363.150000,77.750000,51.200000,136.200000,148.100000,147.700000,87.300000,49.100000,33.900000,45.000000,34.900000,21.400000

In [16]:
df[df['hip'] == 0]

,density,bodyfat,age,weight,height,neck,chest,abdomen,hip,thigh,knee,ankle,biceps,forearm,wrist
253,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df.drop(labels=[253], axis=0, inplace=True)
df.describe()

,density,bodyfat,age,weight,height,neck,chest,abdomen,hip,thigh,knee,ankle,biceps,forearm,wrist
count,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000,252.000000
mean,1.055574,19.150794,44.884921,178.924405,70.148810,37.992063,100.824206,92.555952,99.904762,59.405952,38.590476,23.102381,32.273413,28.663889,18.229762
std,0.019031,8.368740,12.602040,29.389160,3.662856,2.430913,8.430476,10.783077,7.164058,5.249952,2.411805,1.694893,3.021274,2.020691,0.933585
min,0.995000,0.000000,22.000000,118.500000,29.500000,31.100000,79.300000,69.400000,85.000000,47.200000,33.000000,19.100000,24.800000,21.000000,15.800000
25%,1.041400,12.475000,35.750000,159.000000,68.250000,36.400000,94.350000,84.575000,95.500000,56.000000,36.975000,22.000000,30.200000,27.300000,17.600000
50%,1.054900,19.200000,43.000000,176.500000,70.000000,38.000000,99.650000,90.950000,99.300000,59.000000,38.500000,22.800000,32.050000,28.700000,18.300000
75%,1.070400,25.300000,54.000000,197.000000,72.250000,39.425000,105.375000,99.325000,103.525000,62.350000,39.925000,24.000000,34.325000,30.000000,18.800000
max,1.108900,47.500000,81.000000,363.150000,77.750000,51.200000,136.200000,148.100000,147.700000,87.300000,49.100000,33.900000,45.000000,34.900000,21.400000